@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Breiðvangur 6<br />
    Hafnarfjörður, 220<br />
    <abbr title="Phone">P:</abbr>
    +354 822 2594
</address>

<address>
    <strong>Support:</strong> <a href="mailto:robert@LeifssonNet5.net">robert hjá leifsson.net</a><br />
</address>
