
@{
    ViewBag.Title = "Dagar í spánarferð";
}

    

<div id="content" class="content">
    <p>Í dag er @ViewBag.ToDay sem þýðir að það eru</p>
    <h1>@ViewBag.NumDays dagar</h1>
    <p>í sumarfríið okkar á spáni</p>
</div>