files:
    "C:\\Scripts\\Ec2-Win-ComputerName.ps1":
        source: http://files.wowair.net/scripts/Ec2-Win-ComputerName.ps1

commands:
    ec2setcomputername-enable:
        command: powershell.exe -ExecutionPolicy Bypass -File "C:\\Scripts\\Ec2-Win-ComputerName.ps1"
    setApppoolIdleTime:
        command: c:\windows\system32\inetsrv\appcmd.exe set config /section:applicationPools /[name='DefaultAppPool'].processModel.idleTimeout:0.00:00:00