@model HomeViewModel
@{
    ViewBag.Title = "Home of Róbert Leifsson";
}

<div id="content" class="content font-effect-stonewash">
    <span>®</span>óbert
    <sup>Leifsson.NET</sup>
    <!--
    @Model.HostName 
    -->
</div>